extends layout

block content

  h1(style="color: #C2E7D9")= title
  p(style="text-align: center;") Welcome to #[em RMSDatabase]

  h1(style="color: #C2E7D9") Reports

  if error
    p Error getting database.
  else
    p(style="text-align: center;") The database has the following reports:

    ul(style="text-align: center;")
      li #[strong Incidents:] !{data.incident_count}
      li #[strong People:] !{data.person_count}
      li #[strong Vehicles:] !{data.vehicle_count}


