extends layout

block content
  h1= title
  p Welcome to #[em RMSDatabase]

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The database has the following reports:

    ul
      li #[strong Incidents:] !{data.incident_count}
      li #[strong People:] !{data.person_count}
      li #[strong Vehicles:] !{data.vehicle_count}